<div class="column is-4-desktop is-6-tablet px-2 py-2">
  <article class="card is-radiusless m-1" aria-label="Item do acervo: {{description}}">
    <div class="card-image">
      <a href="/acervo/{{id}}" aria-label="Ver detalhes do item">
        <figure class="image is-square has-background-grey-lighter">
          <img src="{{imageUrl}}" alt="{{description}}" loading="lazy" />
        </figure>
      </a>
    </div>

    {{#if estimatedYear}}
    <div class="card-content p-2">
      <div class="tags mb-0">
        <span class="tag is-warning is-light">{{estimatedYear}}</span>
        {{#if historicalPeriod}}
        <span class="tag is-light">{{historicalPeriod}}</span>
        {{/if}}
      </div>
    </div>
    {{/if}}
  </article>
</div>
