<div class="column is-3-desktop is-one-fifth-widescreen is-2-fullhd is-4-tablet is-6-mobile px-0 py-0">
  <article class="card acervo-item-card" aria-label="Item do acervo: {{description}}">
    <div class="card-image">
      <figure class="image is-square">
        <img src="{{imageUrl}}" data-fallback-src="{{originalImageUrl}}" alt="{{description}}" loading="lazy" onerror="if (this.dataset.fallbackSrc && this.src !== this.dataset.fallbackSrc) { this.src = this.dataset.fallbackSrc; }" />
        <div class="acervo-item-card__overlay" aria-hidden="true">
          <a href="/acervo/{{id}}" class="acervo-item-card__detail-btn" tabindex="-1">
            <span class="icon is-small"><i class="fa-solid fa-magnifying-glass-plus"></i></span>
            <span>Ver detalhes</span>
          </a>
        </div>
      </figure>
    </div>
  </article>
</div>
